In [ ]:
a = 10
b = 20
print(a+b)

# Run time program

x = int (input("enter x value:"))
y = int (input("enter y value:"))
print(x+y)

print("addition of" ,x, "and" ,y, "value is =", x+y)

30
enter x value:10
enter y value:20
30
addition of 10 and 20 value is = 30

In [ ]:
a= 10
b= 20
print(a+b)

30

In [ ]:
x = 100
y = 50
print(f'Addition of {x} and {y} value is = {x+y}')
print(f'division of {x} and {y} value is = {x/y}')

Addition of 100 and 50 value is = 150
division of 100 and 50 value is = 2.0

In [ ]:
name = "sneha"
course = "MCA"
year = 2022
department = "BCA"
pincode = 591213
print(f"Hi, Good Morning my name is {name} , i have completed {course} in the year of {year}, currently iam working in KLE BK {department} college chikkodi {pincode}")

Hi, Good Morning my name is sneha , i have completed MCA in the year of 2022, currently iam working in KLE BK BCA college chikkodi 591213

In [ ]:
x = 50
y = 20
print(f'addition of {x} and {y} value is = {x+y}')
print (f'substraction of {x} and {y} value is = {x-y}')
print (f'multiplication of {x} and {y} value is = {x*y}')
print (f'division of {x} and {y} value is = {x/y}')

addition of 50 and 20 value is = 70
substraction of 50 and 20 value is = 30
multiplication of 50 and 20 value is = 1000
division of 50 and 20 value is = 2.5

In [ ]:
num1 = int(input("enter num1 value :"))
num2 = int (input("enter num2 value :"))
print("addition of two number is :",num1 + num2)
print("substraction of two number is :",num1 - num2)
print("multiplication of two number is :",num1 * num2)
print("division of two number is :",num1 / num2)
print("floor division of two number is :",num1 // num2)
print("modulus of two number is :",num1 % num2)

print("exponent value is :",x**y)

enter num1 value :10
enter num2 value :5
addition of two number is : 15
substraction of two number is : 5
multiplication of two number is : 50
division of two number is : 2.0
floor division of two number is : 2
modulus of two number is : 0
exponent value is : 100000000000000000000

In [ ]:
number1 = 35
number2 = 40
print(number1 > number2)
print(number1 < number2)
print(number1 == 35)
print(number1 <= number2)
print(number1 >= 40)
print(10 != 20)
print(number1 == number2)

False
True
True
True
False
True
False

In [ ]:

a = 20
b = 35
c = 13
d = 10

print(a == b and c < d)
print( 13 != c and d < c)
print(b > a and d <c)
print(20 != a and c==d)

print(a < b or d == c)
print((not(a < b)) and 100 <200)
print(not(d == 10))
print(35 != d or (not(20 == a)))
print(not(c <= b and (not(a <= c))))

False
False
True
False
True
False
False
True
False

In [ ]:
x = 10
print(x)

x -= 2
print (x)

x *= 5
print(x)

x //= 3
print(x)

x **= 2
print(x)

x %= 4
print(x)

x += 9
print(x)

x /= 3
print(x)

10
8
40
13
169
1
10
3.3333333333333335

In [ ]:
num = 9
if num < 10 :
  print("10 is a greater than 9")

10 is a greater than 9

In [ ]:
User_id = "20MCA103"
Password = 1234
if User_id == "20MCA103" and Password == 1234:
   print("Login successfully")

Login successfully

In [ ]:
ex = 59
if ex == 58 :
  print("Are you understand")

In [ ]:
Name = "sonali"
if Name <= "BKC" :
  print("my name is sonali")

In [ ]:
Number = int(input("enter a number value :"))
if num > 0 :
  print("Positive number")
else :
  print("negative number")

enter a number value :5
Positive number

In [ ]:
num = int(input("enter a number value : "))
if num % 2== 0 :
  print("even number")
else :
  print("odd number")

enter a number value : 5
odd number

In [ ]:
year = int(input("enter a year value : "))
if year % 4 == 0 :
  print("leap year")
else :
  print("not leaf year")

enter a year value : 10
not leaf year

In [ ]:
Age = int(input("enter a year value : "))
if Age >= 18 :
  print("they are eligible for voting")
else :
  print("they have to wait")

enter a year value : 6
they have to wait

In [ ]:
marks = int(input(" enter a marks value : "))
if marks >= 85 :
  print("Distinction")
elif marks >= 70 :
  print("First class")
elif marks >= 55 :
  print("second class")
elif marks >= 35 :
  print("Just pass")
else :
  print("Fail better luck next chance")

 enter a marks value : 7
Fail better luck next chance

In [ ]:
prize = input("enter prize medal :")
if prize == "Gold":
  print("First prize")
elif prize == "Silver" :
  print("Second prize")
elif prize == "Bronze" :
  print("Third prize")
elif prize == "certificate" :
   print("Samadanakar bahumana")
else :
  print("Better luck next chance")

enter prize medal :6
Better luck next chance

In [ ]:
a,b,c = 25,35,15
if a > b :
  if a > c :
    print("a is a largest number")
  else :
   print("c is a largest number")
else :
  if b > c :
    print("b is a largest number")
  else :
    print("c is a largest number")

b is a largest number

In [ ]:
a,b,c = 25,35,15
if a < b :
  if a < c :
    print("a is a smallest number")
  else :
   print("c is a smallest number")
else :
  if b < c :
    print("b is a smallest number")
  else :
    print("c is a smallest number")

c is a smallest number

In [ ]:
num = -5
if num > 0 :
  if num == 0 :
      print("Zero value")
  else :
        print("Positive number")
else :
        print("negative number")

negative number

In [ ]:
i = 1
while i <= 60 :
    print(i,end= " ")
    i +=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [ ]:
day = int(input("enter a day number"))
match day :
    case 1 : print("monday")
    case 2 : print("tuesday")
    case 3 : print("wednesday")
    case 4 : print("thursday")
    case 5 : print("friday")
    case 6 : print("saturday")
    case 7 : print("sunday")
    case 8 :print("holiday")

enter a day number4
thursday

In [ ]:
month = int(input("enter a month number"))
match month :
    case 1 : print("january")
    case 2 : print("february")
    case 3 : print("march")
    case 4 : print("april")
    case 5 : print("may")
    case 6 : print("june")
    case 7 : print("july")
    case 8 :print("august")
    case 9 : print("september")
    case 10 : print("october")
    case 11 : print("november")
    case 12 :print("december")

enter a month number6
june

In [ ]:
num = 12345
rem = 0
rev = 0
temp = num
while num > 0 :
    rem = num % 10
    rev = rev * 10 + rem
    num = num // 10
print("reverse number :", rev)

reverse number : 54321

In [ ]:
num = 12321
rem = 0
rev = 0
temp = num
while num > 0 :
    rem = num % 10
    rev = rev * 10 + rem
    num = num // 10
if temp == rev :
    print("polindrom number")
else :
    print("not polindrom number")

polindrom number

In [ ]:
i = 2
while i <= 100 :
    print(i, end = " ")
    i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
i = 1
while i <= 100 :
    print(i, end = " ")
    i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
num, a, b, = 10, 0, 1
i = 0
while i <= num :
    print(a, end = " ")
    a, b = b, a+b
    i+=1

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
num = int(input("enter a number value : "))
count = 0
i = 1
while i <= num :
    if num % i == 0 :
        count+=1
    i+=1
if count == 2 :
    print("prime number")
else :
    print("not prime number")

enter a number value : 5
prime number

In [ ]:
i = 10
while i <= 1280 :
    print(i, end= " ")
    i*=2

10 20 40 80 160 320 640 1280

In [ ]:
colours = ['blue', 'red', 'pink', 'black']
print(type(colours))

for i in colours :
     print(i)

<class 'list'>
blue
red
pink
black

In [ ]:
name = "KLE BK BCA COLLEGE in CHIKODI"
rev = ""
for i in name :
    rev = i + rev
print(rev)

IDOKIHC ni EGELLOC ACB KB ELK

In [ ]:
for i in range(10) :
     print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10+1) :
     print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
Sum = 0
for i in range(1,11) :
    Sum+=i
print("Sum of N Natural  numbers is ",Sum)

Sum of N Natural  numbers is  55

In [ ]:
num = 4
for i in range(1,11):
     print("4 *",i,"=", num*i)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
for i in range(2,101,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
fact = 1
for i in range(1,6):
    fact = fact * i
print("factorial number is :",fact)

factorial number is : 120

In [ ]:
a, b = 0, 1
for i in range(1,14):
    print(a,end=" ")
    a, b = b, a+b

0 1 1 2 3 5 8 13 21 34 55 89 144

In [ ]:
sentence = "Python programming language"
count = 0
for ch in sentence :
    if ch in "aeiou" :
        count +=1
print("Total vowels is :", count)

Total vowels is : 8

In [ ]:
base = 4
height = 5
triangle = 0.5 * base * height
print("Area of triangle is :" , triangle)

Area of triangle is : 10.0

In [ ]:
red = 4
Area = 3.14 * red **2
print("Area of circle is :", Area)

Area of circle is : 50.24

In [ ]:
example = [5,25,35,28,45,10,15]
largest = example[0]
for i in example :
    if i > largest :
         largest = i
print("is a largest number in this list")

is a largest number in this list

In [ ]:
sentence = "Bachelor of computer science first semester section C"
count = 0
for ch in sentence :
  if ch in "consonents" :
     count +=1
print("Total consonents is :",count)

Total consonents is : 28

In [ ]:
bikes = ["RX 100", "GT 650", "Ninja", "Splender", "Bajaj", "Pulser", "NS 200", "M 80", "Unicorn"]
for bike in bikes :
    if bike == "NS 200" :
        break
    print(bike)

RX 100
GT 650
Ninja
Splender
Bajaj
Pulser

In [ ]:
colours = {"purple", "pink", "black", "white", "red", "orange", "levender", "gray", "yellow", "maroon"}
for color in colours :
  if color =="pink" :
    break
  print(color)

red
yellow
purple
orange
white
black
maroon
gray

In [ ]:
fruits = ("Apple", "Orange", "Mango", "Strawberry", "Dragon fruit", "Grapes", "Banana", "pinaple", "Pappaya", "Water melon")
for fruit in fruits :
    if fruit == "Grapes" :
        continue
    print(fruit)

Apple
Orange
Mango
Strawberry
Dragon fruit
Banana
pinaple
Pappaya
Water melon

In [ ]:
mobiles = ["Vivo", "Redmi", "Oppo", "Vivo", "Vivo", "Vivo", "Oppo", "IQuee", "Vivo", "One plus"]
for mobile in mobiles :
    if mobile == "Vivo" :
        continue
    print(mobile)

Redmi
Oppo
Oppo
IQuee
One plus

In [ ]:
movies = ["KGF","Chhava", "Bahubali", "Saiyara", "RRR", "Kalki", "Kannadakagi ondannu otti"]
for movie in movies :
    if movie == "RRR" :
       pass
    print(movie)

KGF
Chhava
Bahubali
Saiyara
RRR
Kalki
Kannadakagi ondannu otti

In [ ]:
movies = ["KGF","Chhava", "Bahubali", "Saiyara", "RRR", "Kalki", "Kannadakagi ondannu otti"]
for movie in movies :
    if movie == "RRR" :
       break
    print(movie)

KGF
Chhava
Bahubali
Saiyara

In [ ]:
things = {"Mobile", "Laptop", "Monitor", "Tab", "Book", "Pen", "Paper",}
for thing in things :
    if thing == "Marker" :
        pass
    print(thing)

Tab
Book
Paper
Monitor
Mobile
Pen
Laptop

In [ ]:
things = {"Mobile", "Laptop", "Monitor", "Tab", "Book", "Pen", "Paper",}
for thing in things :
    if thing == "Mobile" :
        continue
    print(thing)

Tab
Book
Paper
Monitor
Pen
Laptop

In [ ]:
for i in range(10):
    for j in range(10):
        print("*",end=" ")
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(10):
    for j in range(10):
        print("1",end=" ")
    print()

1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1

In [ ]:
for i in range(10):
    for j in range(10):
        print(i,end=" ")
    print()

0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9

In [ ]:
for i in range(1,10):
    for j in range(j):
        print(j,end=" ")
    print()

0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [ ]:
for i in range(1,10):
    for j in range(i):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8

In [ ]:
for i in range(8):
    for j in range(0,i+1):
        print(" ",end=" ")
    for j in range(8):
        print("*",end=" ")
    print()

  * * * * * * * *
    * * * * * * * *
      * * * * * * * *
        * * * * * * * *
          * * * * * * * *
            * * * * * * * *
              * * * * * * * *
                * * * * * * * *

In [ ]:

for i in range(8):
    for j in range(0,8):
        print(" ",end=" ")
    for j in range(8):
        print("*",end=" ")
    print()

                * * * * * * * *
                * * * * * * * *
                * * * * * * * *
                * * * * * * * *
                * * * * * * * *
                * * * * * * * *
                * * * * * * * *
                * * * * * * * *

In [ ]:
for i in range(5):
    for j in range(i+1,5):
        print(" ",end=" ")
    for j in range(5):
        print("*",end=" ")
    print()

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *

In [ ]:
for i in range(5):
    for j in range(i+1,5):
        print(" ",end=" ")
    for j in range(5):
        print("BK",end=" ")
    print()

        BK BK BK BK BK
      BK BK BK BK BK
    BK BK BK BK BK
  BK BK BK BK BK
BK BK BK BK BK

In [ ]:
row = 10
col = 10
for i in range(0,row):
    for j in range(0,col):
        if i == 0 or j == 0 or i == row-1 or j == col-1:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [ ]:
for i in range(10):
    for j in range(i):
        print("%",end=" ")
    print()

%
% %
% % %
% % % %
% % % % %
% % % % % %
% % % % % % %
% % % % % % % %
% % % % % % % % %

In [ ]:
num = 7
for i in range(0,num):
    for j in range(0,num-i-1):
        print(" ",end=" ")
    for j in range(0,i*2+1):
        print("*",end=" ")
    print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [ ]:
num = 7
for i in range(0,num):
    for j in range(0,num-i-1):
        print(" ",end=" ")
    for j in range(0,i*2+1):
        print(chr(97+j),end=" ")
    print()

            a
          a b c
        a b c d e
      a b c d e f g
    a b c d e f g h i
  a b c d e f g h i j k
a b c d e f g h i j k l m

In [ ]:
num = 7
for i in range(0,num):
    for j in range(0,num-i-1):
        print(" ",end=" ")
    for j in range(0,i*2+1):
        print(chr(65+j),end=" ")
    print()

            A
          A B C
        A B C D E
      A B C D E F G
    A B C D E F G H I
  A B C D E F G H I J K
A B C D E F G H I J K L M

In [ ]:
num = 7
for i in range(0,num):
    for j in range(0,num-i-1):
        print(" ",end=" ")
    for j in range(0,i*2+1):
        print(int(123+j),end=" ")
    print()

            123
          123 124 125
        123 124 125 126 127
      123 124 125 126 127 128 129
    123 124 125 126 127 128 129 130 131
  123 124 125 126 127 128 129 130 131 132 133
123 124 125 126 127 128 129 130 131 132 133 134 135

In [ ]:
num = 7
for i in range(0,num):
    for j in range(0,num-i-1):
        print(" ",end=" ")
    for j in range(0,i*2+1):
        print("*",end=" ")
    print()
for i in range(0,num):
    for j in range(0,i):
        print(" ",end=" ")
    for j in range(0,(num-i)*2-1):
        print("*",end=" ")
    print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [ ]:
def example():
    print("Good Afternoon")
example()

Good Afternoon

In [ ]:
def fun(num):
    return num*num
print(fun(4))

16

In [ ]:
def add(a,b):
    print(f'Addition of two numbers is {a+b}')
add(5,10)

Addition of two numbers is 15

In [ ]:
def example (roll_num,name,section,department,college):
    print(f"My name is {name} iam studying {department} in {college} college. My roll_number is {roll_num} and section {section}")
example(101, "sonali", 'A', "BCA", "KLE BK")

My name is sonali iam studying BCA in KLE BK college. My roll_number is 101 and section A

In [ ]:
def fun(name,game,time):
    print(f"iam {name} ; iam playing {game} at {time} time")
fun(time = "Evening",name = "Sonali",game = "Cricket")

iam Sonali ; iam playing Cricket at Evening time

In [ ]:
def Laptop(name = "Lenovo"):
    print("My laptop name is :",name)
Laptop("Dell")
Laptop("HP")
Laptop()
Laptop("Asus")

My laptop name is : Dell
My laptop name is : HP
My laptop name is : Lenovo
My laptop name is : Asus

In [ ]:
def add(*args):
    total = 0
    for num in args :
        total +=num
    print("Total value is :",total)

add(10,5)
add(5,4,9)
add(10,46,14,20)

Total value is : 15
Total value is : 18
Total value is : 90

In [ ]:
def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}={value}")

print_details(name='Basavaraj', age=25, city='Bangalore')

name=Basavaraj
age=25
city=Bangalore

In [ ]:
def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}={value}")

print_details(name = 'shrushti', course = "BCA", section = 'C', college = "BK College")

name=shrushti
course=BCA
section=C
college=BK College

In [ ]:
def print_details(**kwargs):
  for key, value in kwargs.items():
      print(f' {key} = {value}')

print_details(course="BCA",section='C',College="BK College")
print_details(place = "Bengaluru")
print_details(roll_num = 201, T_Subject=7)

 course = BCA
 section = C
 College = BK College
 place = Bengaluru
 roll_num = 201
 T_Subject = 7

In [ ]:
def show_values(*args,**kwargs):
    print("Positional Arguments representation in Tuple",args)
    print("Key-words Arguments represented in Dict",kwargs)
show_values(1,2,3,4,name="Sonali")

show_values(5,8,1,10,Class = "BCA C section",gender = "female")

Positional Arguments representation in Tuple (1, 2, 3, 4)
Key-words Arguments represented in Dict {'name': 'Sonali'}
Positional Arguments representation in Tuple (5, 8, 1, 10)
Key-words Arguments represented in Dict {'Class': 'BCA C section', 'gender': 'female'}

In [ ]:
i = 1
fact = 1
while i < 6:
    fact = fact * i
    print(fact)
    i=i+1

1
2
6
24
120

In [ ]:
def  fact(num):
  if num == 0 or num == 1:
    return 1
  else:
    return num * fact(num-1)
print("factorial number is :",fact(5))

factorial number is : 120

In [ ]:
def fib(num):
    if num == 0 or num == 1:
        return num
    else:
        return fib(num-1) + fib(num-1)
print("fibonaci number is :",fib(5))

fibonaci number is : 16

In [ ]:
def sum(num):
    if num == 0:
        return num
    else:
        return num + sum(num-1)
print("sum of N narural number is :",sum(10))

sum of N narural number is : 55

In [ ]:
def fibo(num):
    if num <= 1:
        return num
    else :
        return fibo(num-1) + fibo(num-2)
for i in range(11):
    print(fibo(i),end=" ")

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
name="vasu"
print(name[:4])

vasu

In [ ]:
class Fruit:
    colour="orange"
    price=250
    teste="sweet"
    shape="circle"
    def juice(self):
        print("sweet")
orange = Fruit()
print("orange colour is ",orange.colour)
orange.juice()
print(orange.price)

orange colour is  orange
sweet
250

In [ ]:
class Flower:
     colour = "white"
     smell = "nice"
     petal = 5
     size = "medium"
     gender = "male"
     validity = 1.5
     def Decoration(self):
         print("Hello Good Morning")
     def Gift(self):
         print("Good Afternoon")
     def Marriage(self):
         print("Marriage")
     def Death(self):
         print("This flower using for death time")
obj = Flower()
obj.Marriage()
print(obj.gender)
obj.Decoration()
obj.Gift()
obj.Death()

Marriage
male
Hello Good Morning
Good Afternoon
This flower using for death time

In [ ]:
class Fan :
    colour = "Black"
    Wings = 3
    c_name = "Bajaj"
    price = 1500
    Warranty = "2 year"
    def start(self):
        print("When click on button it will start")
    def speed(self):
        print("Based on condition it will move fast")
    def stop(self):
        print("When click on button it will stop")
obj = Fan()
print(obj.c_name+ " "+ obj.Warranty)
obj.start()
obj.speed()
obj.stop()

Bajaj 2 year
When click on button it will start
Based on condition it will move fast
When click on button it will stop

In [ ]:
def fun(name):
    print("my name is a ",name)
fun("Basavraj")

my name is a  Basavraj

In [ ]:
class Bank :
   def __init__(self,balance):
       self.balance = balance
   def Deposit(self,amount):
       self.balance += amount
   def Withdraw(self,amount):
       if amount <= self.balance :
           self.balance -= amount
           print("Transaction successfully")
       else :
           print("Insufficient balance")
   def re_balance(self):
       return self.balance

obj = Bank(1000)
print(obj.balance)
obj.Deposit(500)
print(obj.balance)
obj.Withdraw(700)
print(obj.re_balance())
obj.Deposit(1000)
print("Current total balance is",obj.balance)
obj.Withdraw(2000)
print(obj.balance)
obj.Withdraw(1500)
print("current total balance is ",obj.balance)
print(obj.re_balance())
obj.Deposit(1000)
print(obj.balance)

1000
1500
Transaction successfully
800
Current total balance is 1800
Insufficient balance
1800
Transaction successfully
current total balance is  300
300
1300

In [ ]:
class Student :
  def __init__(self,name,marks,place):
    self.__name = name
    self.__marks = marks
    self.__place = place

  def set_method(self,name,marks):
        self.name = name
        self.marks = marks

  def get_method(self):
        return self.name+" "+str(self.marks)

obj = Student("Sonali",85,"Kerur")
obj.set_method("Sharat",89)
print(obj.get_method())

Sharat 89

In [ ]:
# SINGLE INHERITANCE
class Parent :
    def Work(self):
        print("My parents are doing forming")

class Children(Parent):
    def Study(self):
        print("Iam studying BCA in BK College")
Ch = Children()
Ch.Work()
Ch.Study()

My parents are doing forming
Iam studying BCA in BK College

In [ ]:
# MULTIPLE INHERITANCE
class Father :
    def Hi(self):
        print("My father is my first hero")

class Mother :
    def Hello(self):
        print("My mother is a house wife")

class Child(Father, Mother) : # Inheriting from both Father and Mother
    def Bye(self):
        print("iam working as a Freelancer")
obj = Child()
obj.Hi()
obj.Hello()
obj.Bye()

My father is my first hero
My mother is a house wife
iam working as a Freelancer

In [ ]:
# MULTI INHERITANCE
class Grand_Parents :
    def Former(self):
        print("")

class Parents (Grand_Parents) :
    def House(self) :
        print("")

class Child (Parents):
    def Jolly(self):
        print("")

obj = Child()
obj.House()
obj.Jolly()
obj.Former()

In [ ]:
# HIRARCHY INHERITANCE
class Parents :
    def Business(self):
        print("My parents are doing business")

class Child1(Parents) :
    def Study(self):
        print("iam studying BCA")

class Child2(Parents) :
    def study(self):
        print("iam studying PUC")

Ch1 = Child1()
Ch1.Business()
Ch1.Study()

Ch2 = Child2()
Ch2.Business()
Ch2.study()

My parents are doing business
iam studying BCA
My parents are doing business
iam studying PUC

In [ ]:
#HYBRID INHERITANCE
class A :
    def Hi(self):
        print("Hiiiiiiiiiiiiii")

class B(A) :
    def Hello(self):
        print("Hellooooooooooo")

class C(A) :
    def Bye(self):
        print("Byeeeeeeeeeee")

class D(B,C):
    def Good(self):
        print("Good Morningggggggggg")

obj = D()
obj.Hi()
obj.Hello()
obj.Bye()
obj.Good()

Hiiiiiiiiiiiiii
Hellooooooooooo
Byeeeeeeeeeee
Good Morningggggggggg

In [ ]:
# compile time / Method overloading polymorphism
class BCA_1st_Semester :
  def student(self,a,b=0,c=0,d=0):
    return a+b+c+d
BCA = BCA_1st_Semester()
print(BCA.student(5))
print(BCA.student(10,7,8))
print(BCA.student(-10,4,9,-5))
print(BCA.student(99,0,4,-12))

5
25
-2
91

In [ ]:
class Animal :
  def sound(self):
    print("Animal  makes a sound")
class Dog (Animal):
  def sound (self):
    print("bow bow bow bow bow")
class Cat (Animal):
  def sound (self):
    print("meow meow meow meow")
class Snake (Animal):
  def sound(self):
    print("Buuuusssssssssssss")

  obj1 = Animal()
  obj2 = Dog()
  obj3 = Cat()
  obj4 = Snake()


  obj1.sound()
  obj2.sound()
  obj3.sound()
  obj4.sound()

Animal  makes a sound
bow bow bow bow bow
meow meow meow meow
Buuuusssssssssssss

In [ ]:
class Book :
  def __init__(self,page):
    self.page = page
  def __add__(self,other):
    return self.page + other.page
obj1 = Book(100)
obj2 = Book(200)
print("Total number of pages :",obj1+obj2)

Total number of pages : 300

In [ ]:
def ask_question(question, options, answer):
  print("\n", question)
  for key, value in options.items():
    print(f"{key}. {value}")

  user_choice = input("Enter your choice (a/b/c/d):").lower()

  match user_choice:
    case 'a'|'b'|'c'|'d':
      if user_choice == answer:
        print("Correct Answer")
        return 1
      else:
        print("Wrong Answer")
        return 0
    case _:
      print("Invalid Choice")
      return 0

print("Welcome to Python Quiz Competition")
player_name = input("Enter your name :")
score = 0
questions = [
    {"q":"1) Which of the following is a valid variable name?",
   "options":{"a":"1var","b":"var1","c":"var-1","d":"var 1"},"ans":
   "b"},

    {"q":"2)What is the output of:x=5;x+=3;print(x)","options":
     {"a":"8","b":"53","c":"5","d":"Error"},"ans":"a"},

    {"q":"3)Which of the following is immutable?","options":{"a":"int","b":
    "float","c":"complex","d":"double"},"ans":"b"},

    {"q":"4)Type of 3.14 is in python?","options":{"a":"int","b":
    "float","c":"complex","d":"double"},"ans":"b"},

    {"q":"5)Which of these is a dictionary?","options":{"a":
   "[1,2,3]","b":"(1,2,3)","c":"{'a':1}","d":"{1,2,3}"},"ans":"c"},

     {"q":"6)What is output of len ({1,2,3,4})","options":{"a":"3",
   "b":"4","c":"Error","d":"0"},"ans":"b"},

     {"q":"7)output of 5 ** 2?","options":{"a":"10","b":"25","c":"7","d":"52"},
       "ans":"b"},

     {"q":"8)Which operator is floor division?","options":{"a":"/","b":
    "//","c":"%","d":"**"},"ans":"b"},

     {"q":"9)output of:If5>3:\n print('yes')","options":{"a":
    "Yes","b":"No","c":"Error","d":"5>3"},"ans":"b"},

     {"q":"10)Which keyword is used for else-if?","options":{"a":
     "elseif","b":"elif","c":"else if","d":"elifse"},"ans":"b"},

    {"q":"11)Which loop is used when number of iterations is Known?","options":
     {"a":"for","b":"while","c":"do-while","d":"None"},"ans":"a"},

    {"q":"12)How to exit a loop immediately?","options":{"a":"stop","b":"break",
      "c":"exit","d":"return"},"ans":"b"},

    {"q":"13)Keyword to define a function?","options":{"a":"function","b":"def",
     "c":"fun","d":"define"},"ans":"b"},

    {"q":"14)Function that returns nothing?","options":{"a":"return None","b":"void",
      "c":"pass","d":"All of the above"},"ans":"a"},

    {"q":"15) Which method is the constructor in python class?","options":
      {"a":"__init__","b":"__start__","c":"__creat__","d":"constructor"},"ans":"a"},

    {"q":"16) Which of these is inheritance example?","options":
     {"a":"class A:\n pass\nclass B(A):\n pass","b":"x=5","c":"def func():pass",
     "d":"if True:pass"},"ans":"a"},

    {"q":"17) What is the type of True?","options":{"a":"int","b":"bool","c":"str",
      "d":"float"},"ans":"b"},

    {"q":"18) Which collection type allowes duplicates?","options":{"a":"Set","b":"Dictionary",
      "c":"List","d":"Tuple"},"ans":"c"},

    {"q":"19) Which collection type is unordered?","options":{"a":"List","b":"Tuple",
      "c":"Set","d":"String"},"ans":"c"},

    {"q":"20)Output of 10%3?","options":{"a":"3","b":"1","c":"0","d":"Error"},"ans":"b"},

    {"q":"21) if 5>10:\n print ('yes')\nelse:\n print('No')","options":{"a":"Yes","b":"No",
      "c":"Error","d":"5>10"},"ans":"b"},

    {"q":"22) output of :\n for i in range(3):\n print(i)","options":{"a":"1 2 3",
      "b":"0 1 2","c":"0 1 2 3","d":"1 2"},"ans":"b"},

    {"q":"23) Encapsulation in python is done by?","options":{"a":"Private variables",
      "b":"Inheritance","c":"Polymorphism","d":"Abstraction"},"ans":"a"},

    {"q":"24) Polymorphism means?","options":{"a":"Multiple forms","b":"Single form",
       "c":"Inheritance","d":"Encapsulation"},"ans":"a"},

    {"q":"25) Which operator is used for logical AND?","options":{"a":"and","b":"&",
      "c":"&&","d":"|"},"ans":"a"},

    {"q":"26) Output: x=5;print('Yes'if x>0 else 'No')","options":{"a":"Yes","b":"No",
      "c":"Error","d":"5"},"ans":"a"},

    {"q":"27) output:\ni=0\nwhile i<3:\n print(i)\n i+=1","options":{"a":"0 1 2","b":"1 2 3",
      "c":"0 1 2 3","d":"Error"},"ans":"a"},

    {"q":"28) Which returns a value?","options":{"a":"print()","b":"return","c":"pass",
      "d":"input()"},"ans":"b"},

    {"q":"29) Abstraction means?","options":{"a":"Hiding implementation","b":"Overloading",
     "c":"Inheritance","d":"Polymorphism"},"ans":"a"},

    {"q":"30) Which is mutable string type?","options":{"a":"str","b":"list","c":"tuple",
      "d":"int"},"ans":"b"},

    {"q":"31) Which keyword is used to inherit?","options":{"a":"inherits","b":"super",
      "c":"class B(A)","d":"extends"},"ans":"c"},

    {"q":"32)Output of bool(' ')?","options":{"a":"True","b":"False","c":"None","d":"Error"},
     "ans":"b"},

    {"q":"33)What does pass do?","options":{"a":"Skip","b":"Exit","c":"print","d":"Return"
     },"ans":"a"},

    {"q":"34)How to create a tuple with single element?","options":{"a":"(1)","b":"(1,)",
      "c":"[1]","d":"{1}"},"ans":"b"},

    {"q":"35) Output of 2*3**2?","options":{"a":"36","b":"18","c":"12","d":"None"},
      "ans":"b"},

    {"q":"36) Which of these is not keyword?","options":{"a":"pass","b":"eval","c":"assert",
      "d":"return"},"ans":"b"},

    {"q":"37) which method converts string to lowercase?","options":{"a":"lower()",
       "b":"up()","c":"capitalize()","d":"lowercase()"},"ans":"a"},

    {"q":"38) Which collection stores key-value pairs?","options":{"a":"List",
        "b":"Tuple","c":"Dictionary","d":"Set"},"ans":"c"},

    {"q":"39) Which is mutable sring type?","options":{"a":"str","b":"list",
      "c":"tuple","d":"int"},"ans":"b"},

    {"q":"40) Which keyword is used to inherit?","options":{"a":"inherits","b":"super",
      "c":"class B(A)","d":"extends"},"ans":"c"},
]

for q in questions:
  score += ask_question(q["q"], q["options"], q["ans"])
print("\n.....RESULT.....")
print(f"Player Name : {player_name}")
print(f"Your Score : {score}/{len(questions)}")

if score==len(questions):
  print("  Excellent! Full Marks")
elif score>=25:
  print("  Good Job,Keep Practicing!")
else:
  print("  Needs Improvement!")

Welcome to Python Quiz Competition
Enter your name :Sonali

 1) Which of the following is a valid variable name?
a. 1var
b. var1
c. var-1
d. var 1
Enter your choice (a/b/c/d):d
Wrong Answer

 2)What is the output of:x=5;x+=3;print(x)
a. 8
b. 53
c. 5
d. Error
Enter your choice (a/b/c/d):a
Correct Answer

 3)Which of the following is immutable?
a. int
b. float
c. complex
d. double
Enter your choice (a/b/c/d):c
Wrong Answer

 4)Type of 3.14 is in python?
a. int
b. float
c. complex
d. double
Enter your choice (a/b/c/d):b
Correct Answer

 5)Which of these is a dictionary?
a. [1,2,3]
b. (1,2,3)
c. {'a':1}
d. {1,2,3}
Enter your choice (a/b/c/d):c
Correct Answer

 6)What is output of len ({1,2,3,4})
a. 3
b. 4
c. Error
d. 0
Enter your choice (a/b/c/d):b
Correct Answer

 7)output of 5 ** 2?
a. 10
b. 25
c. 7
d. 52
Enter your choice (a/b/c/d):b
Correct Answer

 8)Which operator is floor division?
a. /
b. //
c. %
d. **
Enter your choice (a/b/c/d):b
Correct Answer

 9)output of:If5>3:
 print('yes')
a. Yes
b. No
c. Error
d. 5>3
Enter your choice (a/b/c/d):b
Correct Answer

 10)Which keyword is used for else-if?
a. elseif
b. elif
c. else if
d. elifse
Enter your choice (a/b/c/d):b
Correct Answer

 11)Which loop is used when number of iterations is Known?
a. for
b. while
c. do-while
d. None
Enter your choice (a/b/c/d):a
Correct Answer

 12)How to exit a loop immediately?
a. stop
b. break
c. exit
d. return
Enter your choice (a/b/c/d):b
Correct Answer

 13)Keyword to define a function?
a. function
b. def
c. fun
d. define
Enter your choice (a/b/c/d):b
Correct Answer

 14)Function that returns nothing?
a. return None
b. void
c. pass
d. All of the above
Enter your choice (a/b/c/d):a
Correct Answer

 15) Which method is the constructor in python class?
a. __init__
b. __start__
c. __creat__
d. constructor
Enter your choice (a/b/c/d):a
Correct Answer

 16) Which of these is inheritance example?
a. class A:
 pass
class B(A):
 pass
b. x=5
c. def func():pass
d. if True:pass
Enter your choice (a/b/c/d):a
Correct Answer

 17) What is the type of True?
a. int
b. bool
c. str
d. float
Enter your choice (a/b/c/d):b
Correct Answer

 18) Which collection type allowes duplicates?
a. Set
b. Dictionary
c. List
d. Tuple
Enter your choice (a/b/c/d):c
Correct Answer

 19) Which collection type is unordered?
a. List
b. Tuple
c. Set
d. String
Enter your choice (a/b/c/d):a
Wrong Answer

 20)Output of 10%3?
a. 3
b. 1
c. 0
d. Error
Enter your choice (a/b/c/d):b
Correct Answer

 21) if 5>10:
 print ('yes')
else:
 print('No')
a. Yes
b. No
c. Error
d. 5>10
Enter your choice (a/b/c/d):b
Correct Answer

 22) output of :
 for i in range(3):
 print(i)
a. 1 2 3
b. 0 1 2
c. 0 1 2 3
d. 1 2
Enter your choice (a/b/c/d):b
Correct Answer

 23) Encapsulation in python is done by?
a. Private variables
b. Inheritance
c. Polymorphism
d. Abstraction
Enter your choice (a/b/c/d):a
Correct Answer

 24) Polymorphism means?
a. Multiple forms
b. Single form
c. Inheritance
d. Encapsulation
Enter your choice (a/b/c/d):a
Correct Answer

 25) Which operator is used for logical AND?
a. and
b. &
c. &&
d. |
Enter your choice (a/b/c/d):a
Correct Answer

 26) Output: x=5;print('Yes'if x>0 else 'No')
a. Yes
b. No
c. Error
d. 5
Enter your choice (a/b/c/d):a
Correct Answer

 27) output:
i=0
while i<3:
 print(i)
 i+=1
a. 0 1 2
b. 1 2 3
c. 0 1 2 3
d. Error
Enter your choice (a/b/c/d):a
Correct Answer

 28) Which returns a value?
a. print()
b. return
c. pass
d. input()
Enter your choice (a/b/c/d):b
Correct Answer

 29) Abstraction means?
a. Hiding implementation
b. Overloading
c. Inheritance
d. Polymorphism
Enter your choice (a/b/c/d):a
Correct Answer

 30) Which is mutable string type?
a. str
b. list
c. tuple
d. int
Enter your choice (a/b/c/d):b
Correct Answer

 31) Which keyword is used to inherit?
a. inherits
b. super
c. class B(A)
d. extends
Enter your choice (a/b/c/d):c
Correct Answer

 32)Output of bool(' ')?
a. True
b. False
c. None
d. Error
Enter your choice (a/b/c/d):b
Correct Answer

 33)What does pass do?
a. Skip
b. Exit
c. print
d. Return
Enter your choice (a/b/c/d):a
Correct Answer

 34)How to create a tuple with single element?
a. (1)
b. (1,)
c. [1]
d. {1}
Enter your choice (a/b/c/d):b
Correct Answer

 35) Output of 2*3**2?
a. 36
b. 18
c. 12
d. None
Enter your choice (a/b/c/d):b
Correct Answer

 36) Which of these is not keyword?
a. pass
b. eval
c. assert
d. return
Enter your choice (a/b/c/d):b
Correct Answer

 37) which method converts string to lowercase?
a. lower()
b. up()
c. capitalize()
d. lowercase()
Enter your choice (a/b/c/d):a
Correct Answer

 38) Which collection stores key-value pairs?
a. List
b. Tuple
c. Dictionary
d. Set
Enter your choice (a/b/c/d):c
Correct Answer

 39) Which is mutable sring type?
a. str
b. list
c. tuple
d. int
Enter your choice (a/b/c/d):b
Correct Answer

 40) Which keyword is used to inherit?
a. inherits
b. super
c. class B(A)
d. extends
Enter your choice (a/b/c/d):c
Correct Answer

.....RESULT.....
Player Name : Sonali
Your Score : 37/40
  Good Job,Keep Practicing!

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [ ]:
import numpy as Sneha
arr = Sneha.array([1,2,3,4,5])
print("NumPy Array:",arr)

NumPy Array: [1 2 3 4 5]

In [ ]:
import numpy as np
zeros = np.zeros(5)
ones = np.ones(5)
print("Zeros:",zeros)
print("Ones:",ones)

Zeros: [0. 0. 0. 0. 0.]
Ones: [1. 1. 1. 1. 1.]

In [ ]:
import numpy as np
a = np.array([10,20,30])
b = np.array([1,2,3])
print("Addition:",a+b)
print("Multiplication:",a*b)

Addition: [11 22 33]
Multiplication: [10 40 90]

In [ ]:
import numpy as np
arr = np.array([1,4,9,16])
print("square Root:",np.sqrt(arr))
print("Mean:",np.mean(arr))

square Root: [1. 2. 3. 4.]
Mean: 7.5

In [ ]:
import numpy as np
from scipy import stats
from numpy import median # Import median from numpy
data = np.array([2,4,6,8,10,12,16])
mean = np.mean(data)
print("Mean value is :",mean)
median_value = median(data)
print("median value is :",median_value)
range_value = np.max(data) - np.min(data)
print("Range value is :",range_value)
mode = stats.mode(data)
print("Mode value is :",mode)

Mean value is : 8.285714285714286
median value is : 8.0
Range value is : 14
Mode value is : ModeResult(mode=np.int64(2), count=np.int64(1))

In [ ]:
import numpy as np
matrix = np.array([[1,2], [3,4]])
print("Matrix:\n",matrix)
print("Transpose:\n", matrix.T)

Matrix:
 [[1 2]
 [3 4]]
Transpose:
 [[1 3]
 [2 4]]